.Chia_se {
  background-color: rgb(55, 109, 162);
  color: white;
}

.Thich {
  background-color: rgb(38, 119, 223);
  color: white;
}


.ke{
  border-top: 1px solid rgb(159, 154, 145);
  width: 80%;
  text-align: right;
  margin-left: 200px;
}

.Anh_1{
  margin-left: 100px;
}

.Sub_anh_1{
  background-color: rgb(126, 134, 145);
  width: 50%;
  margin-top: 10px;
  color: white;
}

body{
  margin-left: 150px;
}
